

<div class="dashboard-bg" id="dashboard-bg">
    <h3 *ngIf="projectData && projectData?.projectName" class="project-name"><i class="float-left fa fa-chevron-left pointer-cursor" (click)="goToMaster()"></i> {{projectData?.projectName |uppercase }}
      <select class=" form-control top-select"  [(ngModel)]="projectData.themeName" (change)="changeTheme($event.target.value)">
          <option value="dt">Dark Texture</option>
          <option value="mb" selected>Material black</option>
          <option value="b">Black</option>
<!--           <option value="pt">Pink Texture</option>
 -->          <option value="light">Light</option>
          <option value="img">Image</option>
        </select>
    
    </h3>
    <div *ngIf="projectData && projectData?.projectName" class="row body-data2" cdkDropListGroup>
        <div class=" life-cycles2 col" *ngFor="let item of projectData?.lifeCycleNames;let i=index">
            <h4 class="text-center">{{item}} 
                <button *ngIf="i==0" (click)="addCard3()" class="btn btn-outline-light float-right btn-sm "><i class="fa fa-plus"></i></button><!-- class="add-card btn btn-light">+</button> -->

              </h4>
            <div align="center"
              cdkDropList
              [cdkDropListData]="projectData?.lifeCycleDataArr[i]?.data"
              class="full-height"
              (cdkDropListDropped)="drop($event)">
             <!--  [class]="j%2==0?'example-box left-transaform':'example-box right-transform'" -->
              <div *ngFor="let tasks of projectData?.lifeCycleDataArr[i]?.data;let j=index" class="example-box "  cdkDrag >
                  <i class="fa fa-close close" (click)="removeElement(i,j)"></i>
                <span cdkDragHandle class="dragger"></span>
                  <textarea placeholder="Add a task" class="text-note" rows="7" (blur)="setTaskValue($event,i,j)">{{tasks.taskName}}</textarea>
                  </div>
                  <div *ngIf="projectData?.lifeCycleDataArr[i]?.data.length==0"  class="example-box hidden-box" cdkDrag >
                      <span cdkDragHandle class="dragger"></span>
                      </div>
            </div>
          </div>      
        </div>
    
     <div class="loader-data" *ngIf="!projectData || !projectData?.projectName">
      <div class='body'>
        <span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class='base'>
          <span></span>
          <div class='face'></div>
        </div>
      </div>
      <div class='longfazers'>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <h1>Redirecting</h1>
      
     </div>
    
    
</div>


<!-- <div class="row lines">
  <div *ngFor="let cycle of lifeCycles" class="col life-cycles text-center">{{cycle}}</div>
</div>
<div class="body-data">
    <button (click)="addCard()" class="add-card btn btn-light"> Add Card </button>
<div class="card-boundry">
    <div *ngFor="let item of cardData |keyvalue; trackBy:trackByKey" class="example-box" cdkDrag cdkDragBoundary=".card-boundry">
      <span cdkDragHandle class="dragger"></span>
      <textarea placeholder="Add a task" class="text-note" rows="5"></textarea>
      </div>
</div>
</div> -->
  <!-- Working <div class="row body-data2" cdkDropListGroup>
    <div class=" life-cycles2 col" *ngFor="let item of projectData?.lifeCycleNames;let i=index">
        <h4 class="text-center">{{item}}   <button *ngIf="i==0" (click)="addCard3()" class="add-card btn btn-light">+</button></h4>
        <div align="center"
          cdkDropList
          #{{projectData.lifeCycleDataArr[i].key}}="cdkDropList"
          [cdkDropListData]="projectData.lifeCycleDataArr[i].data"
          [cdkDropListConnectedTo]="(i==(projectData?.lifeCycleNames?.length-1))?projectData.lifeCycleDataArr[0].key:projectData.lifeCycleDataArr[i+1].key"
          class=""
          (cdkDropListDropped)="drop($event)">
          <div *ngFor="let tasks of projectData.lifeCycleDataArr[i].data" class="example-box" cdkDrag >
              <span cdkDragHandle class="dragger"></span>
              <textarea placeholder="Add a task" class="text-note" rows="5">{{tasks}}</textarea>
              </div>
        </div>
      </div>      
    </div> -->
<!-- <div class="row body-data2">
    <div class=" life-cycles2 col" *ngFor="let item of projectData?.lifeCycleData|keyvalue;">
        <h4 class="text-center">{{item.value.name}}   <button (click)="addCard2()" class="add-card btn btn-light">+</button></h4>
        <div align="center"
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[item.value.data]"
          class=""
          (cdkDropListDropped)="drop($event)">
          <div *ngFor="let tasks of item.value.data" class="example-box" cdkDrag >
              <span cdkDragHandle class="dragger"></span>
              <textarea placeholder="Add a task" class="text-note" rows="5">{{tasks}}</textarea>
              </div>
        </div>
      </div>      
    </div> -->




<!-- <div class="row body-data2">
  
<div class=" life-cycles2 col">
    <h4 class="text-center">To do   <button (click)="addCard2()" class="add-card btn btn-light">+</button></h4>
  
    <div align="center"
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class=""
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of todo" class="example-box" cdkDrag >
          <span cdkDragHandle class="dragger"></span>
          <textarea placeholder="Add a task" class="text-note" rows="5">{{item}}</textarea>
          </div>
    </div>
  </div>
  
  <div class=" life-cycles2 col">
    <h4 class="text-center">Done</h4>
  
    <div
    align="center"
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class=""
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of done" class="example-box" cdkDrag >
          <span cdkDragHandle class="dragger"></span>
          <textarea placeholder="Add a task" class="text-note" rows="5">{{item}}</textarea>
          </div>
    </div>
  </div>
  
</div> -->