<!-- <div class="back">
  <a routerLink="/login" routerLinkActive="active" class="btn-go-home">GO To Login</a>
  <div class="row">
    <div class="col">
  
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  
        <label>
        Project Name:
          <input type="text" formControlName="projectName">
        </label>
      
        <label>
         project Steps:
          <input type="text" formControlName="ProjectStep">
        </label>
        <button type="submit" [disabled]="!projectForm.valid">Submit</button>
      </form>
    </div>
    <div class="col ">
  <div class="row">
  <button type="button" (click)="goToDashboard(project)" class="btn btn-outline-info" *ngFor="let project of allProjects; let i=index">  {{project.projectName}}</button>
  </div>
  
    </div>
    </div>
</div>
 -->

<div class="body">
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form [formGroup]="projectForm" >

          <input type="text" placeholder="Project Name" formControlName="projectName"/>
      
          <input type="text" placeholder="Add max 7 steps"  #stepInput (keyup.enter)="addStep(stepInput.value)" formControlName="projectStep"/>
          <div>
              <p class="float-left" *ngFor="let step of stepList;let i=index"> {{step}}<i class="cursor-pointer fa fa-close" (click)="removeStep(i)" ></i>&nbsp;&nbsp;</p>
          </div>
        <button class="submit-button" type="button" (click)="onSubmit()" [disabled]="!projectForm.valid || (stepList.length==0)"><i class="fa fa-check"></i></button>
      </form>
     
    </div>
    <!-- <div class="form-container sign-in-container">
       
    </div> -->
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Your Projects!</h1>
                <br>
                <button type="button" class="btn btn-outline-info"  (click)="goToDashboard(project)" class="btn btn-outline-info" *ngFor="let project of allProjects; let i=index">  {{project.projectName}}</button>

<!--                     <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button> -->
            </div>
        </div>
    </div>
</div>

</div>
